/* src/CSS/Login.css */
.login-title {
  color: #000;
text-align: center;
font-family: Pretendard;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.logo-image {
  width: 120px; /* 원하는 크기로 조절 */
  margin-bottom: 30px; /* 로고 아래 간격 */
}

.login-title {
  font-size: 24px;
  margin-bottom: 20px; /* h2 아래 간격 */
}

.subtext {
  font-size: 14px;
  color: #666;
  margin-top: 20px;
  margin-bottom: 20px; /* subtext 아래 간격 */
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Pretendard';
  background-color: #f9f9f9;
  margin-top: 10px
}

.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin-top: 10px
}
label {
  display: block;
  text-align: left;
  width: 100%;
  margin-bottom: 8px;
  font-weight: 500;
}

.login-box {
  width: 400px;
  padding: 40px 30px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.login-box h1 {
  font-size: 2rem;
  font-weight: 700;
  color: #FF9D00;
  margin-bottom: 8px;
}

.find-links {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.login-box h2 {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 8px;
}

.subtext {
  font-size: 0.85rem;
  color: #333;
  margin-bottom: 24px;
  text-align: center;
}

.login-box input {
  width: 100%;
  padding: 12px 15px;
  margin-bottom: 16px;
  border: none;
  background-color: #f2f2f2;
  border-radius: 10px;
  font-size: 1rem;
}

.find-links {
  display: flex;
  justify-content: flex-end;
  width: 100%;          /* 부모 요소 너비 전부 차지하게 */
  margin: 10px 0 20px;
}


.find-links a {
  color: #888;
  text-decoration: none;
}

.login-box button {
  width: 100%;
  padding: 14px;
  font-size: 1rem;
  background-color: #FF9D00;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

.login-box button:hover {
  background-color: #e68a00;
}
